.EASON{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: bold;
text-decoration: underline;
}
.EASOn{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: normal;
text-decoration: underline;
}
.EASoN{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: bold;
text-decoration: none;
}
.EASon{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: normal;
text-decoration: none;
}
.EAsON{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: bold;
text-decoration: underline;
}
.EAsOn{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: normal;
text-decoration: underline;
}
.EAsoN{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: bold;
text-decoration: none;
}
.EAson{
color: blue;
text-transform: lowercase;
font-style: normal;
font-weight: normal;
text-decoration: none;
}
.EaSON{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
text-decoration: underline;
}
.EaSOn{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
text-decoration: underline;
}
.EaSoN{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
text-decoration: none;
}
.EaSon{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
text-decoration: none;
}
.EasON{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
text-decoration: underline;
}
.EasOn{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
text-decoration: underline;
}
.EasoN{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
text-decoration: none;
}
.Eason{
color: blue;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
text-decoration: none;
}
