		[%-#load google feeds control (float right) -%]
		[%-SET div_tag="ensembl_news"-%] [%-# this tag is used in samul.css%]
		[%-# root/lib/js/google_feeds.tt2%]
		[% PROCESS google_feeds.tt2 dom="$div_tag" title="Ensembl News" stacked="false" horizontal="true" is_ensembl="1" numResults="10"-%]
			<div id="[%div_tag%]">Loading...</div>
