
    [%-#load google feeds control (float right) -%]
    [%-SET div_tag="samul_news_horizontal"-%] [%-# this tag is used in samul.css%]
    [%-# root/lib/js/google_feeds.tt2%]
    [% PROCESS google_feeds.tt2 dom="$div_tag" title="COSMIC News" stacked="false" horizontal="true" is_cosmic="1" numResults="5" -%]
    <div id="[%div_tag%]">Loading...</div>
